<%- include("partials/header.ejs")%>
<div
  class="container d-flex flex-column py-4 px-5 justify-content-center align-items-center min-vh-100"
>
  <h1 class="text-center">
    Welcome to Space<span class="text-primary">X</span> App
  </h1>
  <p>Check daily news from space or see who is in Space</p>
  <a href="/people" class="btn btn-primary">Who is in Space?</a>
  <div class="row justify-content-center gap-2 py-4">
    <% articles.forEach(article => { const { title, image_url,
    news_summary_short, site_url } = article %>
    <div class="col d-flex justify-content-center">
      <div class="card border-0 shadow" style="width: 18rem">
        <img src="<%= image_url %>" class="card-img-top" alt="<%= title %>" />
        <div class="card-body">
          <h5 class="card-title"><%= title %></h5>
          <p class="card-text"><%= news_summary_short %></p>
          <a
            href="<%= site_url %>"
            target="_blank"
            class="btn btn-outline-primary"
          >
            See full article
          </a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include("partials/footeer.ejs")%>
